#footer {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  justify-content: center;

  .footer-item {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
