@import "../../../mixins.scss";

.item-title {
  display: flex;
  flex-direction: column;
  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop-only {
      flex-direction: row;
      font-style: normal;
    }
  }
}
