#writing-work-page {
  p {
    margin-bottom: 1em;
  }

  .titles {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--background-faint);
  }

  h1,
  h2,
  h3 {
    text-transform: lowercase;
  }

  #writing-work-body {
    font-size: 11pt;

    li {
      margin: 8px 0;
    }

    ol,
    ul {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.poem {
      blockquote {
        border-left: none;
      }
    }

    .postscript {
      font-size: 8pt;
      overflow-wrap: break-word;

      // border-top: 1px solid var(--background-faint);
      // padding-top: 8px;
      // margin-top: 8px;

      ol {
        padding-top: 0;
      }
    }
  }

  img {
    width: 100%;
    padding: 0 24px;
  }
}
