#portfolio-page {
  #search-container {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 8px;
  }

  #top-divider {
    margin: 16px 0;
  }

  #results {
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: var(--background-faint);

    .query-term {
      color: var(--light-1);
    }
  }
}
