.markdown-section {
  a {
    color: var(--light-1);
  }

  .caption {
    font-size: 10pt;
    text-align: center;
    width: 100%;
    margin-top: -12px;
  }

  img {
    display: block;
    margin: auto;
    padding: 16px 24px;
  }
}
