#resume-page {
  section {
    margin: 12px 0;

    h2 {
      margin-bottom: 0;
      background-color: var(--background);
      padding-bottom: 4px;
      border-bottom: 1px solid var(--light-1);
      text-transform: lowercase;
    }
  }

  #education-section {
    margin-bottom: 0;

    #degrees-list {
      padding: 0;

      li {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 12px 0;
        gap: 8px;

        .uni-icon {
          $size: 40px;
          width: $size;
          height: $size;
          background-color: var(--light-1);
        }

        .details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .left,
        .right {
          display: flex;
          flex-direction: column;
        }

        .right {
          align-items: flex-end;
        }
      }
    }

    #cgpa {
      width: 100%;
      display: block;
      text-align: right;
    }
  }

  #skills-section {
    .skill {
      color: var(--light-1);
    }
  }

  $item-font-size: 11pt;

  #experience-section,
  #projects-section {
    display: flex;
    flex-direction: column;

    .experience-item,
    .project-item {
      background-color: var(--background);
      display: flex;
      flex-direction: row;

      &:not(:first-child) {
        .item-right {
          border-top: 1px solid var(--background-faint);
        }

        .item-left {
          .line-top {
            background-color: var(--light-1);
          }
        }
      }

      &:last-child {
        .line-bottom {
          background-image: linear-gradient(
            180deg,
            var(--light-1),
            var(--background)
          );
        }
      }

      .item-left {
        $line-w: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 16px;

        .line-item,
        .line-bottom {
          background-color: var(--light-1);
        }

        .line-top {
          width: $line-w;
          height: 16px;
          background-color: var(--background);
        }

        .line-item {
          $size: 32px;
          width: $size;
          min-height: $size;
          height: $size;
          display: block;
        }

        .line-bottom {
          width: $line-w;
          height: 100%;
        }
      }

      .item-right {
        padding-top: 8px;
      }

      ul {
        padding-left: 12px;
      }

      li {
        margin: 4px 0;
        font-size: $item-font-size;
      }
    }
  }

  .highlight {
    color: var(--light-1);
  }
}
