#resume-page {
  section {
    margin: 12px 0;

    h2 {
      margin-bottom: 0;
      background-color: var(--background);
      padding-bottom: 4px;
      border-bottom: 1px solid var(--light-1);
      text-transform: lowercase;
    }
  }

  #education-section {
    #degrees-list {
      padding: 0;

      li {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 12px 0;
        gap: 8px;

        .uni-icon {
          $size: 40px;
          width: $size;
          height: $size;
          background-color: var(--light-1);
        }

        .details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .left,
        .right {
          display: flex;
          flex-direction: column;
        }

        .right {
          align-items: flex-end;
        }
      }
    }

    #cgpa {
      width: 100%;
      display: block;
      text-align: right;
    }
  }

  #skills-section {
    .skill {
      color: var(--light-1);
    }
  }

  $item-font-size: 11pt;

  #experience-section,
  #projects-section {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: var(--background-faint);

    .experience-item,
    .project-item {
      background-color: var(--background);
      padding: 8px 0;

      li {
        margin: 4px 0;
        font-size: $item-font-size;
      }
    }
  }

  .highlight {
    color: var(--light-1);
  }
}
