#portfolio-page {
  .search-result {
    list-style: none;

    .search-result-inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      gap: 32px;
      padding: 16px;
      background-color: var(--background);
    }

    .result-link {
      cursor: pointer;

      &:hover,
      &:focus-visible {
        .result-title {
          color: var(--light-1);
        }
      }
    }

    .result-text-panel {
      width: 100%;
    }

    .result-title {
      transition: var(--transition);
      margin: 0;
      text-transform: lowercase;
    }

    .result-subtitle-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
    }

    .result-description {
      margin-top: 8px;
      font-size: 10pt;
      line-height: 1.5em;
    }

    .result-image {
      position: relative;
      width: 150px;

      img {
        object-fit: cover;
      }
    }

    .bottom-row {
      display: flex;
      flex-direction: row;
    }

    .result-tags {
      display: flex;
      flex-direction: row;
      gap: 4px;
      margin-top: 12px;

      .result-tag {
        cursor: pointer;
        padding: 4px;
        transform-origin: var(--transition);
        background-color: var(--background);
        border: 1px solid var(--background-faint);

        font-size: 11px;

        &:hover {
          color: var(--light-1);
        }
      }
    }
  }
}
